* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
height: 550px;
width: 1350px;
display: block;
margin-left: auto;
margin-right: auto;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding: 25px 10px;
  display: inline-block;
  color: #ffffff;
  font-size: large;
}
header ul li a:hover {
  background-color: #34495E;
  color: #ffffff;
}  
body {
  background-color: #5499C7;
  font-family: sans-serif;
}
h1{
padding-top: 5%;
text-align: left;
font-family: serif;
color: #ffffff;
}
#form {
  display: grid;
  grid-template-columns: 60%;  
  width: 40%;
  padding: 10px 10px;
}
#submit {
background-color: #5D6D7E;
color: white;
border-radius: 0px;
font-family: sans-serif;
padding: 5px;
border-color: #5D6D7E;
}
h2 {
 color: #ffffff;
 font-family: serif;
 font-size: 20px;
 padding-top: 5px;
 padding-bottom: 5px;
}
#footer {
  margin-top: 30px;
  background-color: #349bff;
  padding: 20px;
}

#footer > ul {
  display: flex;
  justify-content: flex-end;
}

#footer > ul > li {
  padding: 0 10px;
}

#footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
.flex-boxes {
  height: 150px;
  width: 240px;
  border: 5px solid gray;
  margin: 10px auto 10px auto;
  border-radius: 0px;
  background-color: white;
  text-align: center;
}
.flex-headings {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgrey;
  border-radius: 0px;
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer {
  margin-top: 30px;
  background-color:rgb(160, 143, 143);
  padding: 20px;
}
#footers {
  display: flex;
  justify-content: flex-end;
}
.footer-items {
  padding: 0 10px;
} 
#copyrightText {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font: #444;
}
a {
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  section {
    color: black;
    font-family: monospace;
  }
  img {
    width: 600px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}